<IfModule mod_rewrite.c>
    RewriteEngine On
    Options -Indexes
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteCond %{REQUEST_FILENAME}\.php -f
	RewriteRule ^(.*)$ $1.php
	
	RewriteRule ^inicio/?$ index.php
	
	RewriteRule ^detalhe/([^/]+)/([^/]+)/([^/]+)/([^/]+)/?$ noticia.php?categoria_nome=$1&categoria_id=$2&post_titulo=$3&post_id=$4

	RewriteRule ^jogoBrowser/([^/]+)/([^/]+)/([^/]+)/([^/]+)/?$ jogo_browser.php?game_categoria_titulo=$1&game_categoria_id=$2&game_titulo=$3&game_id=$4

	RewriteRule ^jogoDownload/([^/]+)/([^/]+)/([^/]+)/([^/]+)/?$ jogo_download.php?game_categoria_titulo=$1&game_categoria_id=$2&game_titulo=$3&game_id=$4

	RewriteRule ^listagem/([^/]+)/([^/]+)/?$ listanoticias.php?categoria_nome=$1&categoria_id=$2

	RewriteRule ^listagem/jogos/?$ listajogos.php

	RewriteRule ^galeria/([^/]+)/([^/]+)/([^/]+)/([^/]+)/?$ galerias.php?id_imagem=$1&galeria_id=$2&post_titulo=$3&post_id=$4
	
	RewriteRule ^rss/([^/]+)/?$ ajax/home.php?action=$1

	RewriteRule ^perfil_usuario/([^/]+)/?$ perfil.php?usuario_id=$1

	RewriteRule ^usuario_games/([^/]+)/([^/]+)/([^/]+)/([^/]+)/?$ usuario_games.php?usuario_id=$1&usuario_nome=$2
	
	
</IfModule>
<IfModule !mod_rewrite.c>
	ErrorDocument 404 http://www.google.com.br
</IfModule>