
#formulario form{
    color: #333333;
    font-family: Verdana,Geneva,sans-serif;
    font-size: 12px;
    padding: 20px;
    width: 460px;
}
#formulario fieldset {
    background: -moz-linear-gradient(center top , #EFEFEF, #FFFFFF 100%) repeat scroll 0 0 transparent;
    border-radius: 8px 8px 8px 8px;
    box-shadow: 3px 3px 10px #CCCCCC;
    margin-bottom: 30px;
    padding: 0 10px 10px;
    position: relative;
}
#formulario legend {
    background-color: #4F709F;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 2px 2px 4px #888888;
    color: white;
    left: 10px;
    padding: 6px 12px;
    position: absolute;
    text-shadow: 1px 1px 1px #333333;
    top: -11px;
}
#formulario label, #formulario .contact-method span {
    clear: left;
    display: block;
    float: left;
    height: 20px;
    line-height: 20px;
    padding-right: 20px;
    text-align: right;
    width: 180px;
}
#formulario label.error {
    color: #CC0000;
    font-size: 11px;
    height: auto;
    margin-left: 200px;
    padding: 0;
    text-align: left;
    width: 208px;
}
 #formulario input, #formulario textarea, #formulario select {
    border: 1px solid #D9D9D9;
    float: left;
    padding: 3px;
    width: 200px;
}
#formulario .submit {
    background: none repeat scroll 0 0 #4F709F;
    border: 0 none;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 2px 2px 4px #888888;
    color: white;
    float: right;
    margin-bottom: 4px;
    margin-right: 37px;
    padding: 5px 10px;
    text-shadow: 1px 1px 1px #333333;
    width: 100px;
}
#formulario select {
    width: 208px;
}
#formulario input:focus, textarea:focus, select:focus {
    background: none repeat scroll 0 0 white;
    border-color: #666666;
}
#formulario input.error {
    border: 1px solid #CC0000;
}
#formulario p {
    margin-bottom: 10px;
    overflow: hidden;
}
#formulario p:first-of-type {
    padding-top: 25px;
}
#formulario .contact-method label {
    clear: none;
    width: auto;
}
#formulario .contact-method input {
    float: none;
    width: 20px;
}
#formulario .ui-slider {
    float: left;
    margin-top: 4px;
    width: 165px;
}
#formulario .slider-val {
    float: left;
    margin-top: 4px;
    padding-left: 10px;
}
