/* 
    Document   : principal
    Created on : 30/04/2011, 19:49:51
    Author     : jonas
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/
*{
	padding: 0;
	margin: 0;
	
}
body{
	padding: 0;
	margin: 0;
	background-color: #DFE8F6;
	font-family: helvetica, arial sans-serif;
	font-size:12px;
}
#main{
	position:relative;
	top:122px;
	margin:0px auto;
	border:1px #99BBE8 solid;
	width: 99%;
	height: 75%;
	text-align: left;
	overflow:auto;
}
#header{
	background-color: #D4E0F2;
	position:fixed;
	width:100%;
	height:122px;
	top:0px;
}
#header #area{
	width: 99%;
	height:80px;
	margin: 5px auto 5px auto;
	position: relative;
	border:1px #99BBE8 solid;
	color:#000;
	font-weight: bold;
}
#header #area #logo{
	/*position:relative;*/
	float:left;
	width:150px;
	height:80px;
	display:inline;
}
#header #area #info{
	font-size: 13px;
    left: 50%;
	top:16px;
    margin-left: -125px;
    position: absolute;
    text-align: center;
    width: 250px;
}
#header #area #logoff{
	position: relative;
	float:right;
	display:inline;
	width:180px;
	text-align: center;
	font-size: 13px;
}
#topmenu{
    font-weight: bold;
    margin: 5px auto;
    position: relative;
}
#footer{
	background-color: #D4E0F2;
	position:fixed;
	width:100%;
	height:30px;
	bottom:0px;
}
#footer #area{
	width: 99%;
	margin: 5px auto 5px auto;
	position: relative;
	border:1px #99BBE8 solid;
	text-align: center;
	color:#000;
	font-weight: bold;
}
.clickable{
	cursor:pointer !important;
}
.bold{
	font-weight: bold !important;
}
.al-l{
	text-align:left !important;
}
.al-r{
	text-align:right !important;
}
.al-c{
	text-align:center !important;
}

table .clickable a{
	text-decoration: none !important;
	color: #1c5d79;
	border:none;
}

/*

=====================================

 * Data Tables and Cascading Style Sheets Gallery *

 *  http://icant.co.uk/csstablegallery/index.php  *

 * Author: Velizar Garvalov at  http://www.vhg-design.com/ *

 =====================================

*/



.clear{
	clear:both;
}

.error{
	border:1px solid #F00 !important;
/*	background-color: #BC0B0B;*/
	border-color: #BC0B0B;
}

